/* HTML elements */
a {
    text-decoration: none;
}

a:hover {
    color: rgb(166, 166, 166);
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    margin: 0 8px;
}

/* index Sections */
html {
    display: flex;
    justify-content: center;
}

body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.leftheader {
    color: #f9faf8
    font-size: 24px;
    font-weight: bold;
}

.header {
    background-color: rgb(31, 41, 55);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20vh;
    font-size: 18px;
}

.headerlinks {
    display: flex;
    justify-content: space-between;
}

.intro {
    background-color: rgb(31, 41, 55);
    color: white;
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 0 20vh;
    height: 250px;
}

.introimage {
    width: 300px;
    height: 150px;
    background-color: #6d747d;
    text-align: center;
    flex: none;
}

.intro h1 {
    font-size: 48px;
    font-weight: bolder;
}

.intro p {
    font-size: 18px;
}

.random {
    color: #1f2937;
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 0 20vh;
}

.quote {
    background-color: #e5e7ea;
    height: 200px;
    padding: 0px 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action {
    background-color: #3882f6;
    color: white;
    margin: 100px 20vh;
    padding: 20px;
}

.footer {
    font-size: 8px;
    background-color: rgb(31, 41, 55);
    color: white;
    padding: 15px 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}